:root {
    font-family: arial, sans-serif;
    color: #333;
    line-height: 1.5em;
}
* {
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}
#weather {
    display: none;
    width: 400px;
    margin: 0 auto;
}
#weather.weather-ready {
    display: block;
}
form {
    display: flex;
    gap: 3px;
    margin: 0.5em 0;
}
form label {
    display: flex;
    flex-direction: column;
    flex: 1 1 100%;
}
form select, form input {
    width: 100%;
}
#weather-output {
    font-family: monospace;
}
.weather-status {
    color: #cc0;
}
.weather-not-found {
    color: #c00;
    font-weight: bold;
}